<!DOCTYPE html>
<html>
    <head>
        <title>Blogs</title>
        <style type="text/css">
            .error {
                color: red;
            }
        </style>
    </head>
    <body>
        
        <h3>
            <a href="/">Home</a>
            <a href="/blog">All Posts</a>
            <a href="/newpost">New Post</a>
            <a href="/login">Login</a>
            <a href="/logout">Logout</a>
        </h3>

        {% block content %}
        {% endblock %}

    </body>
</html>
