{% extends "base.html" %}
{% block content %}

{% if users %}
  <ul class=flashes>
    {% for user in users %}
    {% for blog in user.blogs %}
    <li>
    <h1><a href="/blog?id={{blog.id}}">{{ blog.title }}</a><h1>
    <h3>{{ blog.body }}</h3>
    <a href="/blog?user={{user.username}}">Written By {{user.username}}</a>
    </li>
    <br/>
    {% endfor %}
    {% endfor %}
  </ul>
{% endif %}

{% if user %}
  <ul class=flashes>
    {% for blog in user.blogs %}
    <li>
    <h1><a href="/blog?id={{blog.id}}">{{ blog.title }}</a><h1>
    <h3>{{ blog.body }}</h3>
    <a href="/blog?user={{user.username}}">Written By {{user.username}}</a>
    </li>
    <br/>
    {% endfor %}
  </ul>
{% endif %}

{% endblock %}